* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';  
    font-size: 12.99px;
}

body {

    margin: 5vw 10vw;
}
.title{
    font-size: clamp(1em, 7.5vw, 5rem); 
    margin-bottom: 0.5em;
    color:#4E5150;
}
.main {
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 5vw;
    flex-wrap: wrap-reverse;

}


.flex__form {

    width: clamp(17.3em,30vw,20em); 
    display: flex;
    flex-direction: column;
    flex-grow: 999;
    justify-items: right;

}
.flex__form-element{
    display: inline;
    margin: 2% 0;
}
/*icons*/
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 300,
  'GRAD' 0,
  'opsz' 35;
  color: #828282;
  font-size: clamp(1.5em, 4vw, 5rem);

}
/*icons*/

.inputbox {
    padding: 1vw 0;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    align-items: center;
    border-radius: 0.5rem;
    gap: 3%;    
}
.flex__form-divisor{
margin-top: 2em;
}
.inputbox:has(.textbox:focus){   
    outline: solid #000 1px;
}
.flex__form-element,.textbox{
    font-size: clamp(1em, 2vw, 4rem);   
    
}
.textbox {
    background-color: transparent;
    border: none;
    width: 100%;
    height: max-content;
    font-weight: 600;
    color: #828282;
    text-overflow: ellipsis;

}
.main__localdata{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3%;
}
.flex__form-checkbox{
width:clamp(1em,1.5vw,2em);
height:clamp(1em,1.5vw,2em);
}
.textbox:focus{
    outline: none;    
}
.flex__form-boxbuttom{
display: flex;
flex-direction: column;
align-items:flex-end;
}
.flex__form-button{
    color: white;
    background: #F2994A; 
   border: none; 
   border-radius: 0.3em;
   width:max-content;
   height: max-content;
   padding: 5%;

}
/******************** aside ************************/
.container {

    display: flex;
    flex-grow: 1;
    width: 40%;

}

.products {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    height:max-content;
    background-color: #F2F2F2;
    border-radius: 12px;
    padding: 0.8rem;

}


.product {

    display: grid;
    gap: 0.4rem;
    grid-template-columns: repeat(2, 1fr);
    min-width: 12rem;
 
}

.product__image {
    
    display: flex;
    padding: 1vh;
    justify-content: center;

}

.image {
    border-radius:1rem;
    object-fit: contain;
    width: 100%;   
}

.product__info {
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;

    flex-direction: column;
    /* width: 100px; */
    min-width: 100%;
}

.product__info-header {
    font-size: 10px;
    /* font-size: clamp(0.7em,4vw,2rem); */
    white-space: nowrap;
    line-height: 1.85;
}

.product__text,.product__price {
    font-size: clamp(0.7em, 4vw, 2rem);
}
.product__price-discount{
    color:#F2994A;
}
.product__price-original{
    text-decoration: line-through;
    font-size: clamp(0.6em, 3.5vw, 1.5rem);
}


.product__price {
    display: inline-block;

}

.product__counter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 10%; */

    width: clamp(1rem, 25vw, 7rem);
    height: clamp(1rem, 2rem, 4rem);
    border: 1px solid #828282;
    border-radius: 5px;
}

.counter__button { 
    margin: 0 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background:#E0E0E0;
    padding: 2px;
    border:none;
    width: clamp(1em,5vw,2em);
    height: clamp(2em,5vw,2.5em);;
    font-size:clamp(0.5em,0.3vw,1.5em) ;
    /* font-size: clamp(1em, 2vw, 2rem); */
    color: #828282;
}
.total__element{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3%;
}
.total__element h2{
    font-size: clamp(0.7em, 3.5vw, 2.5rem);

}
/*523px */
/*644px */
@media screen and (min-width:523px) {
    .product__info-header {
        /* font-size: clamp(0.7em, 1.5vw, 2rem); */
        white-space: nowrap;
    }

    .product__text, .product__price {
        font-size: clamp(0.7em, 1.5vw, 2rem);

    }
    .total__element h2{
        font-size: clamp(0.7em, 2vw, 2.5rem);
    
    }
    .product__price-original{    
        font-size: clamp(0.6em, 1.2vw, 1.5rem);
    }
    .product__counter {

        width: clamp(1rem, 20vw, 80%);
        height: clamp(1rem, 3.5vw, 4vw);
        border: 1px solid #828282;
        border-radius: 5px;
    }

    .counter__button {
        background:#E0E0E0;
        border:none;
        width: 10vw;
        height: 2.7vw;
        /* font-size:clamp(1em,0.5vw,1em) ; */
        /* color: #828282; */
    }
}
.footer{
    margin-top: 2em;
    text-align: center;
    font-size: clamp(0.6em, 3.5vw, 1.5rem);
    color: #BDBDBD;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
input[type=number] { -moz-appearance:textfield; }